@font-face {
    font-family: Gotham;
    src: url(../font/Gotham-Ultra.otf);
}
@font-face {
    font-family: GothamMedium;
    src: url(../font/Gotham-Medium.otf);
}

$primary-color: #f74646;
$font-color: #1e0233;

h1
{
	font-size: 30px;
}
h2
{
	font-size: 24px;
}
h3
{
	font-size: 18px;
}
h4
{
	font-size: 16px;
}
h5
{
	font-size: 13px;
}
@media screen and (max-width:1009px)
{
	blockquote
	{
		padding-left: 23px;
		margin-bottom: 23px;
	}
	/* --- headers --- */
	h1
	{
		font-size: 24px;
	}
	h2
	{
		font-size: 22px;
	}
	h3
	{
		font-size: 16px;
	}
	h4
	{
		font-size: 14px;
	}
	h5
	{
		font-size: 12px;
	}
}
  .header{
    width:100%;
    background: url(../image/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top:0 !important;
    padding-bottom: 0 !important;
    .menu{
      height:100%;
      .left-menu{
        padding-top: 20px;
        padding-left: 20px;
        a{
          text-decoration: none;
          font-size: 30px;
          i {
            color: $primary-color;
          }
        }
      }
      .content-menu{
        display: flex;
        height:100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway', sans-serif;

        h1{
          display: none;
          font-size:50px;
          line-height: 1.2em;
          color:#444444;
          span{
            // color:#008299
            color: $primary-color;
          }
          @media screen and (max-width:1009px){
            font-size: 42px;
          }
          @media screen and (max-width:768px){
            font-size: 32px;
          }
          @media screen and (max-width:500px){
            font-size: 24px;
          }
        }
        .content{
          margin-top: -100px;
        }
      }
    }
  }


  .main-post{
    height: 100%;
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .container_post{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      .post{
        .item-post{
          .blog-post-title {
            margin-bottom: 1rem;
          }
          a{
            font-size: 30px;
            text-decoration: none;
            font-family: Gotham;
            color:$font-color;
            letter-spacing: 1px;
          }
          h3{
            font-family: 'Lora', serif;
            font-style: italic;
          }
        }
      }
      hr{
        border:0;
        border-top: 1px solid $font-color;
        margin-top: 20px;
        margin-bottom: 20px;
      }

    }
  }
.header_post{
  padding-top:0px !important;
  padding-bottom: 0px !important;
  width: 100%;
  height:600px;
  position: relative;
  .home{
    position: absolute;
    top:20px;
    left:20px;
    i {
      color: $primary-color;
    }
  }
  img{
    width:100%;
    height:100%;
    opacity: 0.6;
  }
  .title-post-center{
    width: 100%;
    position: absolute;
    top:50%;
    text-align: center;
    color: $font-color;
    h1{
      font-family: Gotham;
      margin-bottom: 1rem;
    }
    h3{
      font-family: "Open Sans";

    }
  }

}
.body-page {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/vintage-concrete.png");
}

.main-article {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/vintage-concrete.png");
}
.post{
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
.post-right{
  width: 100%;
  height: 100%;
  font-family: 'Inconsolata', monospace;
  h1,h2,h3,h4,h5 {
    margin-bottom: 1rem;
  }
  h2 {
    padding: 0 10px;
  }
  h3 {
    padding: 0 13px;
  }
  h4 {
    padding: 0 15px;
  }
  h5 {
    padding: 0 17px;
  }
  p{
    text-align: justify;
    padding: 0 20px;
    line-height: 1.5em;
    font-size: 20px;
    color: $font-color;
    margin-bottom: 1rem;
    img{
      max-width: 100%;
      width: auto;
    }
    strong{
      font-weight: bold;
    }
  }
  }
}
.tagsort-tags-container{
  margin-top: 20px;
  display: flex;
    flex-wrap: wrap;
  span{
    padding:10px;
    border:1px solid #000;
    margin-left: 10px;
    border-radius: 10px;
  }
  span.active{
    background-color: red;
  }
}
.list-item{
  margin-top: 20px;
  .item-to-filter{
    width:auto;
    float:left;
    margin:10px;
  }
}
.body_post_list{
  width:100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
